/* Header */
header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Sarina";
  font-size: 70px;
  font-style: oblique;
}

/* Navbar container */
.navbar {
  background-color: black;
  font-family: Arial;
  align-items: center;
  justify-content: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: skyblue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-1:hover .dropdown-content-1 {
  display: block;
}

.dropdown-2:hover .dropdown-content-2 {
  display: block;
}

/* Swiper */

body {
  position: relative;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.swiper-container {
  width: 35%;
}

/* TRENDING container */
.line-background {
  font: 33px sans-serif;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.line-background::after {
  border-top: 2px solid black;
  content: "";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  z-index: -1;
}

.line-background span {
  /* to hide the lines from behind the text, you have to set the background color the same as the container */
  background: white;
  padding: 0 15px;
}
.extra-menu {
  padding-bottom: 0;
  object-position: bottom;
  background-color: black;
  color: white;
  font-size: 18px;
  font-style: italic;
  font-family: "Sarina";
  height: 200px;
}

.photo-trending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  text-align: left;
  align-content: justify;
}
.extra-menu a {
  text-align: center;
}
